<header>
  <app-slider></app-slider>
</header>

<div class="body">
  <section class="brands">
    <img src="./assets/svg/clarifion.svg" alt="brand" />
    <img src="./assets/svg/antivirus.svg" alt="antivirus" />
  </section>
  <section class="title">
    <h1>Wait ! your order in progress.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
  </section>
  <section class="steps">
    <p
      class="step"
      [ngClass]="{ 'step--bold': step.bold }"
      *ngFor="let step of steps; let index = index"
    >
      <img [src]="'./assets/svg/' + step.icon" [alt]="index + 1" />

      <span class="number">{{ "Step " + index + 1 + " 1 : " }}</span>
      <span>{{ step.label }}</span>
    </p>
  </section>

  <section class="container-product">
    <div class="mobile" style="margin: 10px">
      <ng-container *ngTemplateOutlet="productTitle"></ng-container>
    </div>
    <div class="image-product">
      <img src="./assets/svg/product.svg" alt="" />
      <div class="card-user">
        <div class="data-user">
          <img src="./assets/svg/user.svg" alt="userr" />
          <div class="califacation">
            <div class="stars">
              <img
                *ngFor="let item of [0, 1, 2, 3, 4]"
                src="./assets/svg/star.svg"
                alt="star"
              />
            </div>
            <label class="califacation__name"
              >Ken T.
              <span
                ><img src="./assets/svg/greeCheck2.svg" alt="check" /> Verified
                Customer</span
              ></label
            >
          </div>
        </div>
        <p class="card-user__description">
          “As soon as the Clarifions arrived I put one in my bedroom. This was
          late in the afternoon. When I went to the bedroom in the evening it
          smelled clean. When I went to bed I felt I could breathe better.
          Wonderful.”
        </p>
      </div>
    </div>
    <div class="data-product">
      <div class="desktop">
        <ng-container *ngTemplateOutlet="productTitle"></ng-container>
      </div>
      <div class="miniproduct">
        <img
          class="miniproduct__image"
          src="./assets/svg/product2.svg"
          alt="product"
        />
        <div class="data-miniproduct">
          <h2 class="data-miniproduct__title">
            Clarifion Air Ionizer
            <aside>
              <span class="price">$180</span><span class="new-price">$84</span>
            </aside>
          </h2>
          <img
            *ngFor="let item of [0, 1, 2, 3, 4]"
            class="star stars"
            src="./assets/svg/star2.svg"
            alt="star"
          />
          <div class="stock">
            <img src="./assets/svg/radioButton.svg" alt="radio" />
            12 left in Stock
          </div>
          <p class="description desktop">
            Simply plug a Clarifion into any standard outlet and replace bulky,
            expensive air purifiers with a simple.
          </p>
        </div>
      </div>
      <p class="description mobile">
        Simply plug a Clarifion into any standard outlet and replace bulky,
        expensive air purifiers with a simple.
      </p>
      <div class="characteristics">
        <p class="characteristics-item">
          <img src="./assets/svg/checkBlue.svg" alt="radio" />
          Negative Ion Technology may
          <span class="characteristics-item__bold">help with allergens</span>
        </p>
        <p class="characteristics-item">
          <img src="./assets/svg/checkBlue.svg" alt="radio" />
          Designed for
          <span class="characteristics-item__bold">air rejuvenation</span>
        </p>
        <p class="characteristics-item">
          <img src="./assets/svg/checkBlue.svg" alt="radio" />
          <span class="characteristics-item__bold">Perfect for every room</span>
          in all types of places.
        </p>
      </div>
      <div class="promotion">
        <img src="./assets/svg/percentaje.svg" alt="%" />
        <p>
          Save <span class="text-blue">53%</span> and get
          <span class="text-blue">6 extra Clarifision</span> for only
          <span class="text-blue">$14 Each</span>.
        </p>
      </div>
      <button class="button-discount">
        Yes - Claim my discount
        <img src="./assets/image/arrow.png" alt="arrow-right" />
      </button>
      <div class="payments">
        <span>Free shipping</span>
        <div class="division"></div>
        <span>
          <img src="./assets/svg/lockGray.svg" alt="lock" />
          Secure 256-bit SSL encryption.
        </span>
        <div class="division desktop"></div>
        <img
          class="payment-methods"
          src="./assets/svg/payments.svg"
          alt="payment-methods"
        />
      </div>
      <button class="deny-promotion">No thanks, I don’t want this.</button>
      <div class="warranty">
        <img src="./assets/svg/coin.svg" alt="lock" />
        <p>
          If you are not completely thrilled with your Clarifion - We have a
          <b>30 day satisfaction guarantee</b>. Please refer to our return
          policy at the bottom of the page for more details. Happy Shopping!
        </p>
      </div>
    </div>
  </section>
</div>

<footer>
  <p>Copyright (c) 2023 | Clarifionsupport@clarifion.com</p>
  <p>
    <img src="./assets/svg/lock.svg" alt="lock" /> Secure 256-bit SSL
    encryption.
  </p>
</footer>

<ng-template #productTitle>
  <h1 class="title-product">
    <span class="text-blue">ONE TIME ONLY</span> special price for 6 extra
    Clarifion for only <span class="text-blue">$14 each</span> ($84.00 total!)
  </h1>
</ng-template>
